body{
    background-image: url("images/bookWallpaper.png");
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
#submit{
    background-color:black;
    color: white;
    border: 1px solid white;
    padding:5px;
    transition: background-color 1s;
}
#submit:hover{
    background-color:gray;
    color: white;
    border: 1px solid white;
    padding:5px;
}
input{
    border:none;
    border-bottom:2px solid lightgray;
    background-color: inherit;
    color:white;
}
input:focus{
    border:none;
    border-bottom:2px solid gray;
    transition: border-bottom 3s;
}
.login{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    height: 40px !important;;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
    width:240px;
}